## mako

<%page expression_filter="h" args="online_help_token"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>
<%!
import re
from urllib.parse import unquote, urljoin

from django.conf import settings
from django.urls import reverse
from django.utils.translation import gettext as _
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>

<%
  try:
    from edx_sysadmin.utils.utils import show_sysadmin_dashboard
    sysadmin_dashboard = show_sysadmin_dashboard(user)
  except:
    sysadmin_dashboard = None

  self.real_user = getattr(user, 'real_user', user)

  doc_link = get_online_help_info(online_help_token)['doc_url']
  uai_course_key_formats = getattr(settings, "UAI_COURSE_KEY_FORMATS", [])
  course_key_regex = getattr(settings, "COURSE_KEY_REGEX", '(?:[^/+]+(/|\\+)[^/+]+(/|\\+)[^/?]+)')
  request_path = unquote(request.get_full_path()).lower()
  is_course_key_in_path = bool(re.search(course_key_regex, request_path, flags=re.IGNORECASE))
  is_uai_course = uai_course_key_formats and any(key in request_path for key in uai_course_key_formats)

  mitxonline_base_url = getattr(settings, 'MITXONLINE_BASE_URL', 'https://mitxonline.mit.edu')
  mitlearn_base_url = getattr(settings, 'MIT_LEARN_BASE_URL', 'https://learn.mit.edu')
  use_mitxonline_links = is_course_key_in_path and not is_uai_course
  if use_mitxonline_links:
    support_link = configuration_helpers.get_value('SUPPORT_SITE_LINK', settings.SUPPORT_SITE_LINK)
    catalog_link = mitxonline_base_url
    dashboard_url = urljoin(mitxonline_base_url, 'dashboard')
  else:
    catalog_link = mitlearn_base_url
    support_link = getattr(settings, 'MIT_LEARN_SUPPORT_SITE_LINK', 'mailto:mitlearn-support@mit.edu')
    dashboard_url = urljoin(mitlearn_base_url, 'dashboard')

  if support_link:
    help_link = support_link
  else:
    help_link = doc_link
%>

<div class="nav-links">
  <div class="main">
    % if show_dashboard_tabs:
      <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
        <a class="${'active ' if reverse('dashboard') == request.path else ''}tab-nav-link" href="${reverse('dashboard')}"
             aria-current="${'page' if reverse('dashboard') == request.path else 'false'}">
             ${_("Courses")}
        </a>
      </div>
      % if show_program_listing:
        <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
          <a class="${'active ' if reverse('program_listing_view') in request.path else ''}tab-nav-link" href="${reverse('program_listing_view')}"
             aria-current="${'page' if reverse('program_listing_view') == request.path else 'false'}">
             ${_("Programs")}
          </a>
        </div>
      % endif
    % endif
    % if sysadmin_dashboard:
      <div class="mobile-nav-item hidden-mobile nav-item nav-tab">
        ## Translators: This is short for "System administration".
        <a class="tab-nav-link" href="${reverse('sysadmin:sysadmin')}">${_("Sysadmin")}</a>
      </div>
    % endif
  </div>
  <div class="secondary">
    <div style="display: flex; align-items: center;">
      <a
        href="${dashboard_url}" class="dashboard-btn"
      >
        ${_("Dashboard")}
      </a>
    </div>
    <%include file="user_dropdown.html"/>
  </div>
</div>
