## mako
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>

<%!
from urllib.parse import urljoin

from django.conf import settings
from django.urls import reverse
from django.utils.translation import gettext as _

from openedx.core.djangoapps.user_api.accounts.utils import retrieve_last_sitewide_block_completed
from common.djangoapps.student.models import UserProfile
%>

<%
## This template should not use the target student's details when masquerading, see TNL-4895
self.real_user = getattr(user, 'real_user', user)
full_name = UserProfile.objects.get(user=self.real_user).name
profile_url = urljoin(settings.MARKETING_SITE_BASE_URL, "profile")
account_url = urljoin(settings.MARKETING_SITE_BASE_URL, "account-settings")
uai_course_key_formats = getattr(settings, "UAI_COURSE_KEY_FORMATS", [])
request_path = request.get_full_path().lower()
is_uai_course = uai_course_key_formats and any(key in request_path for key in uai_course_key_formats)
%>

<div class="nav-item hidden-mobile nav-item-dropdown" tabindex="-1">
        <div class="user-dropdown toggle-user-dropdown" role="button" aria-label=${_("Options Menu")} aria-expanded="false" tabindex="0" aria-controls="user-menu">
            <div class="nav-item hidden-mobile">
                <div class="menu-title">
                    <span class="sr-only">${_("Dashboard for:")}</span>
                    <span class="username">${full_name}</span>
                </div>
                <span class="fa fa-chevron-down" aria-hidden="true"></span>
            </div>
        </div>
        <div class="dropdown-user-menu hidden" aria-label=${_("More Options")} role="menu" id="user-menu" tabindex="-1">
            % if is_uai_course:
                <div class="mobile-nav-item dropdown-item dropdown-nav-item"><a href="${reverse('logout')}" role="menuitem">${_("Sign Out")}</a></div>
            % else:
                <div class="mobile-nav-item dropdown-item dropdown-nav-item"><a href="${profile_url}" role="menuitem">${_("Profile")}</a></div>
                <div class="mobile-nav-item dropdown-item dropdown-nav-item"><a href="${account_url}" role="menuitem">${_("Accounts")}</a></div>
                <div class="mobile-nav-item dropdown-item dropdown-nav-item"><a href="${reverse('logout')}" role="menuitem">${_("Sign Out")}</a></div>
            % endif
        </div>
    </div>
</div>
