## mako
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>

<%!
from urllib.parse import urljoin

from django.conf import settings
from django.urls import reverse
from django.utils.translation import gettext as _

from openedx.core.djangoapps.user_api.accounts.utils import retrieve_last_sitewide_block_completed
from common.djangoapps.student.models import UserProfile
%>

<%
## This template should not use the target student's details when masquerading, see TNL-4895
self.real_user = getattr(user, 'real_user', user)
full_name = UserProfile.objects.get(user=self.real_user).name
profile_url = urljoin(getattr(settings, 'MITXONLINE_BASE_URL', 'https://mitxonline.mit.edu'), "profile")
account_url = urljoin(getattr(settings, 'MITXONLINE_BASE_URL', 'https://mitxonline.mit.edu'), "account-settings")
uai_course_key_formats = getattr(settings, "UAI_COURSE_KEY_FORMATS", [])
request_path = request.get_full_path().lower()
is_uai_course = uai_course_key_formats and any(key in request_path for key in uai_course_key_formats)
dashboard_url = urljoin(getattr(settings, 'MITXONLINE_BASE_URL', 'https://mitxonline.mit.edu'), "dashboard")
if is_uai_course:
    dashboard_url = urljoin(getattr(settings, 'MIT_LEARN_BASE_URL', 'https://learn.mit.edu'), "dashboard")
%>

<div class="nav-item nav-item-dropdown" tabindex="-1">
        <div class="user-dropdown toggle-user-dropdown" role="button" aria-label=${_("Options Menu")} aria-expanded="false" tabindex="0" aria-controls="user-menu">
            <div class="nav-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" fill="none"><path d="M15.9998 2.66797C23.3598 2.66797 29.3332 8.6413 29.3332 16.0013C29.3332 23.3613 23.3598 29.3346 15.9998 29.3346C8.63984 29.3346 2.6665 23.3613 2.6665 16.0013C2.6665 8.6413 8.63984 2.66797 15.9998 2.66797ZM8.03093 20.5564C9.98761 23.4772 12.9267 25.3346 16.2128 25.3346C19.4989 25.3346 22.438 23.4772 24.3946 20.5564C22.2512 18.5576 19.3748 17.3346 16.2128 17.3346C13.0508 17.3346 10.1744 18.5576 8.03093 20.5564ZM15.9998 14.668C18.209 14.668 19.9998 12.8771 19.9998 10.668C19.9998 8.45884 18.209 6.66797 15.9998 6.66797C13.7906 6.66797 11.9998 8.45884 11.9998 10.668C11.9998 12.8771 13.7906 14.668 15.9998 14.668Z" fill="white"></path></svg>
                <div class="menu-title">
                    <span class="sr-only">${_("Dashboard for:")}</span>
                    <span class="username">${full_name}</span>
                </div>
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="remixicon "><path d="M11.9999 13.1714L16.9497 8.22168L18.3639 9.63589L11.9999 15.9999L5.63599 9.63589L7.0502 8.22168L11.9999 13.1714Z"></path></svg>
            </div>
        </div>
        <div class="dropdown-user-menu hidden" aria-label=${_("More Options")} role="menu" id="user-menu" tabindex="-1">
            % if is_uai_course:
                <div class="mobile-nav-item dropdown-item dropdown-nav-item show-in-mobile"><a href="${dashboard_url}" role="menuitem">${_("Dashboard")}</a></div>
                <div class="mobile-nav-item dropdown-item dropdown-nav-item"><a href="${reverse('logout')}" role="menuitem">${_("Sign Out")}</a></div>
            % else:
                <div class="mobile-nav-item dropdown-item dropdown-nav-item show-in-mobile"><a href="${dashboard_url}" role="menuitem">${_("Dashboard")}</a></div>
                <div class="mobile-nav-item dropdown-item dropdown-nav-item"><a href="${profile_url}" role="menuitem">${_("Profile")}</a></div>
                <div class="mobile-nav-item dropdown-item dropdown-nav-item"><a href="${account_url}" role="menuitem">${_("Accounts")}</a></div>
                <div class="mobile-nav-item dropdown-item dropdown-nav-item"><a href="${reverse('logout')}" role="menuitem">${_("Sign Out")}</a></div>
            % endif
        </div>
    </div>
</div>
